body {
    background-image: url(../myjs/pic/body.jpg);
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

.dataNoth {
    padding: 50px;
}

form {
    background-image: url(../myjs/pic/form.jpg);
    align-items: center;
    padding: 50px;
    border-radius: 5px;
}

.row {
    width: 100%;
}

.card-body {
    background-size: 100%;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

.radioInputs {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.mission {
    background-image: url(../myjs/pic/notebg.png);
    background-color: transparent;
    background-size: cover;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    text-align: center;
    padding: 15px;
    margin: 30px;
    width: 303px;
    padding-bottom: 50px;
    padding-top: 33px;
    padding-left: 47px;
    transition: opacity 1s;
}

.mission-body {
    height: 200px;
    overflow: auto;
    margin: 0;
    margin-bottom: 20px;
}

p {
    text-align: left;
}

.form-inline {
    padding: 40px;
}

.invisible {
    opacity: 0 !important;
}

.btnHolder {
    visibility:hidden;
}